.todo-item {
    background-color: #f4f4f4;
    border-bottom: 1px dotted #777;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-item input[type="checkbox"] {
    margin: auto 10px;
}

.btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    margin-right: 10px;
}

.flex {
    display: flex;
}